swagger: '2.0'
info:
  title: Student Application Decision Web API
  description: Web API for creating, reading, updating, and deleting student application decision codes.
  version: '0.0'
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/sad-api
host: localhost
schemes:
  - http
basePath: /api/v0
paths:
  /{pidm}:
    get:
      summary: Read student application decisions
      parameters:
        - name: termCodeEntry
          in: query
          description: Term code entry
          required: false
        - name: applNo
          in: query
          description: Application number
          required: false
        - name: seqNo
          in: query
          description: Sequence number
          required: false
      responses:
        200:
          description: ok
          schema:
            type: application/json
        400:
          description: bad request
        404:
          description: not found
    put:
      summary: Update student application decisions
      responses:
        200:
          description: ok
          schema:
            type: application/json
